<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/style.css">
      <title>NodeJs Basic</title>
</head>

<body>
      <div class="topnav">
            <a href="/">Home</a>
            <a class="active" href="/upload">Upload File</a>
      </div>
      <div class="upload-file-container">
            <form action="">
                  <label for="">Avatar</label>
                  <input type="file">
            </form>
      </div>
</body>

</html>